@use '../vars/' as *;

.hero {
  position: relative;
  background-color: $yellow-brown;
  
  background-image:
    url('@images/hero/chess-front.png'),
    url('@images/hero/bg.jpg'),
    url('@images/hero/city.png'),
    url('@images/hero/chess-back.png'),
    url('@images/hero/sun.png');

  @media (min-width: calc($mobile + 1px)) {
    background-image:
      image-set(
        url('@images/hero/chess-front.webp') type("image/webp"),
        url('@images/hero/chess-front.png') type("image/png")
      ),
      image-set(
        url('@images/hero/bg.webp') type("image/webp"),
        url('@images/hero/bg.jpg') type("image/jpg")
      ),
      image-set(
        url('@images/hero/city-large.webp') type("image/webp"),
        url('@images/hero/city.png') type("image/png")
      ),
      image-set(
        url('@images/hero/chess-back.webp') type("image/webp"),
        url('@images/hero/chess-back.png') type("image/png")
      ),
      url('@images/hero/sun-animated.svg');
  }

  @media (max-width: $mobile) {
    background-image:
      image-set(
        url('@images/hero/chess-front.webp') type("image/webp"),
        url('@images/hero/chess-front.png') type("image/png")
      ),
      image-set(
        url('@images/hero/bg.webp') type("image/webp"),
        url('@images/hero/bg.jpg') type("image/jpg")
      ),
      image-set(
        url('@images/hero/city-small.webp') type("image/webp"),
        url('@images/hero/city.png') type("image/png")
      ),
      image-set(
        url('@images/hero/chess-back.webp') type("image/webp"),
        url('@images/hero/chess-back.png') type("image/png")
      ),
      image-set(
        url('@images/hero/sun.webp') type("image/webp"),
        url('@images/hero/sun.png') type("image/png")
      );
  }

  background-blend-mode:
    normal,
    color-burn,
    normal,
    normal,
    normal;
  
  background-repeat:
    no-repeat,
    repeat,
    no-repeat,
    no-repeat,
    no-repeat;
  
  animation-name: hero-bg-init;
  animation-duration: 2s;

  @media (min-width: calc($mobile + 1px)) {
    $backrdoundStart: calc((100vw - $padding-container * 2 - 1600px) / 2);

    background-position:
      calc($backrdoundStart + 975px) 112%,
      center bottom,
      center bottom,
      calc($backrdoundStart + 865px) 50%,
      calc($backrdoundStart + 810px) -110%;
      
    background-size: auto;

    @keyframes hero-bg-init {
      0% {
        background-position:
          calc($backrdoundStart + 1100px) 112%,
          center bottom,
          center bottom,
          calc($backrdoundStart + 865px) 100%,
          calc($backrdoundStart + 1010px) 500px;
        background-size: 
          auto,
          auto,
          auto,
          auto,
          360px;
      }
      100% {
        background-position:
          calc($backrdoundStart + 975px) 112%,
          center bottom,
          center bottom,
          calc($backrdoundStart + 865px) 50%,
          calc($backrdoundStart + 810px) -110%;
        background-size: 
          auto,
          auto,
          auto,
          auto,
          660px;
      }
    }
  }
  @media (max-width: $mobile) {
    $backrdoundStart: calc((100vw - $padding-container * 2 - 887px) / 2);

    background-position:
      calc($backrdoundStart + 420px) 103%,
      center bottom,
      calc($backrdoundStart + -136px) bottom,
      calc($backrdoundStart + 340px) 84%,
      calc($backrdoundStart + 310px) 85%;

    background-size:
      242px,
      auto,
      887px,
      232px,
      300px;

    @keyframes hero-bg-init {
      0% {
        background-position:
          calc($backrdoundStart + 470px) 103%,
          center bottom,
          calc($backrdoundStart + -136px) bottom,
          calc($backrdoundStart + 340px) 100%,
          calc($backrdoundStart + 310px) 85%;
      }
      100% {
        background-position:
          calc($backrdoundStart + 420px) 103%,
          center bottom,
          calc($backrdoundStart + -136px) bottom,
          calc($backrdoundStart + 340px) 84%,
          calc($backrdoundStart + 310px) 85%;
      }
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $mobile) {
      justify-content: center;
    }
  }

  &__logo {
    &-wrapper {
      width: 100%;
      display: flex;
    }
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6.35px;
    
    color: $logo-color;
    margin-top: clamp(20px, 5vw, 26px);

    &-image {
      height: clamp(27px, 7vw, 2rem);
    }
    &-text {
      font-size: clamp(14.42px, 3.5vw, 16.65px);
      font-weight: 700;
      line-height: 108%;
      text-transform: uppercase;
      flex: 1 1 0;
    }
    
    &:focus-visible {
      outline-color: $dark-gray;
      outline-width: 0.25rem;
      outline-offset: 0.4rem;
      outline-style: solid;
      transition: outline 0.2s;
      border-radius: 0.25rem;
    }
  }

  &__content {
    z-index: 2;
    flex: 0 1 35rem;
    
    padding-top: clamp(40px, 5vw, 62px);
    @media (min-width: calc($mobile + 1px)) {
      padding-bottom: 130px;
    }
    @media (max-width: $mobile) {
      padding-bottom: 65vw;
    }
    @media (max-width: $mobile_small) {
      padding-bottom: 291px;
    }
  }

  &__title {
    font-size: clamp(36px, 9vw, 60px);
    font-weight: 400;
    line-height: 1.1;
    &-hidden {
      font-size: 0;
    }

    display: flex;
    flex-direction: column;

    &::before, &::after {
      display: inline-block;
      text-align: center;
      @media (min-width: calc($mobile_small + 1px)) {
        font-size: clamp(36px, 9vw, 60px);
      }
      @media (max-width: $mobile_small) {
        font-size: clamp(36px, 9vw, 60px);
      }
    }
    &::before {
      content: attr(data-center-first);
      order: 2;
      @media (min-width: calc($mobile_small + 1px)) {
        margin-left: -1.2rem;
      }
      @media (max-width: $mobile_small) {
        margin-left: 8px;
      }
    }
    &::after {
      content: attr(data-center-second);
      order: 3;
      @media (min-width: calc($mobile_small + 1px)) {
        margin-left: 1rem;
      }
      @media (max-width: $mobile_small) {
        margin-left: 28px;
      }
    }
  }

  &__paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    margin-top: 24px;
    @media (min-width: calc($mobile + 1px)) {
      margin-bottom: 39px;
      margin-left: -18px;
    }
    @media (max-width: $mobile) {
      text-align: left;
      margin-bottom: 32px;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    @media (min-width: calc($mobile_small + 1px)) {
      margin-right: 18px;
    }
  }
  &__button {
    flex: 1 1 12rem;
    font-size: 16px;
    line-height: 1.3;
    padding: clamp(12px, 3vw, 16px);
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    display: inline;

    &-first-line {
      @media (min-width: 28rem) {
        display: block;
      }
      @media (max-width: 28rem) {
        display: inline;
      }
    }
  }
}