@use '../vars/' as *;

.navigation {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 28px;
  }

  display: flex;
  align-items: center;

  &__slider {
    will-change: transform;
  }

  &__item {
    transition: opacity 0.5s;
    opacity: 0;
    &.visible {
      opacity: 1;
    }
  }

  &__dots {
    display: flex;
    gap: 6px;
    padding: 0 16px;
    &-item {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: block;

      cursor: pointer;
      transition: 0.3s;
      background-color: rgba($dark-gray, 0.2);
      &.active {
        background-color: $dark-gray;
      }
      &:hover {
        background-color: $golden;
      }
    }
  }

  &__button {
    border-radius: 50%;
    @media(min-width: calc($mobile_small + 1px)) {
      width: 44px;
      height: 44px;
    }
    @media(max-width: $mobile_small) {
      width: 36px;
      height: 36px;
    }

    transition: 0.3s;
    background-color: $dark-gray;
    background-image: url('@icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background-color: $golden;
    }
    &:disabled {
      background-color: rgba($dark-gray, 0.2);
    }

    &-prev {
      transform: scale(-1);
    }
  }

  &__number {
    width: 64px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    &:before {
      content: attr(data-slide);
    }
    &:after {
      content: '/ 'attr(max-slide)'';
      color: rgba($dark-gray, 0.6);
      margin-left: 5px;
    }
  }
}