@use '../vars/' as *;

.tournament {
  padding-top: clamp(48px, 12vw, 80px);
  padding-bottom: $padding-container;
  overflow: hidden;

  &__text, &__idea-image-wrapper::before {
    color: $dark-gray;
    font-family: 'Merriweather', serif;
    font-size: clamp(28px, 5vw, 36px);
    font-weight: 400;
    line-height: 1.35;
    text-transform: uppercase;
  }

  &__text {
    &-wrapper {
      flex: 1 1 0;
    }
    display: inline;
    &_red {
      color: $red;
      font-weight: 700;
    }

    @media (max-width: $tablet) {
      &_mobile_hidden {
        font-size: 0;
      }
    }
  }

  &__idea {
    display: flex;
    align-items: center;
    gap: 1.5rem 3rem;

    @media (max-width: $tablet) {
      flex-wrap: wrap-reverse;
    }
    @media (max-width: $tablet) and (min-width: calc($mobile_small + 1px)) {
      text-align: center;
    }

    &-image {
      max-width: 394px;
      width: 100%;
      aspect-ratio: 394/250;
      object-fit: cover;
      border-radius: 50%;
      &-wrapper {
        @media (min-width: calc($tablet + 1px)) {
          max-width: min(394px, 100%);
        }
        @media (max-width: $tablet) {
          display: flex;
          flex-direction: column;
          align-items: center;
          &::before {
            content: attr(data-before);
            display: block;
            margin-bottom: 1.5rem;
            width: calc(100vw - 2 * $padding-container);
          }
        }
      }
    }
  }

  &__session {
    margin-top: 62px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 19px 44px;

    &-image {
      width: 100%;
      flex: 0 1 474px;
      &-wrapper {
        position: relative;
      }
      &-front {
        position: absolute;
        width: calc(100% + 4rem);
        height: 100%;
        top: 0;
        left: -2rem;

        background-repeat: no-repeat;
        background-image:
          url('@images/tournament/hand.png'),
          url('@images/tournament/chess.png');

        background-position:
          89% 100%,
          5% 96%;

        background-size:
          52%,
          47%;

        pointer-events: none;
        animation: front-animation linear infinite 3s;
        
        @keyframes front-animation {
          0% {
            background-position:
              89% 100%,
              5% 96%;
          }
          50% {
            background-position:
              95% 100%,
              5% 100%;
          }
          100% {
            background-position:
              89% 100%,
              5% 96%;
          }
        }
      }
    }

    &-content {
      flex: 1 1 0;
    }
  }

  &__data {
    font-size: 20px;
    line-height: 1.2;

    margin-top: calc(61px - 1rem);
    margin-bottom: calc(48px - 1rem);

    display: grid;
    gap: 2px;
    grid-template-columns: auto 1fr;
    background-color: #D0D0D0;
    box-shadow:
      0 1rem 0 0 $white inset,
      0 -1rem 0 0 $white inset;

    &-item {
      background-color: $white;
      
      
    }

    @media (min-width: calc($mobile_small + 1px)) {
      &-item {
        &:nth-child(odd) {
          padding: 15px 21px 15px 0rem;
        }
        &:nth-child(even) {
          padding: 15px;
        }
      }
    }

    @media (max-width: $mobile_small) {
      background-color: $white;
      grid-template-columns: 1fr;
      gap: 12px;

      &-item {
        &:nth-child(even) {
          border-bottom: 2px solid #D0D0D0;
          padding-bottom: 1rem;
        }
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }

    &-title {
      color: rgba($dark-gray, 0.7);
    }
    &-description {
      color: $black;
      font-weight: 600;
      &-line-through {
        position: relative;
        margin-right: 12px;
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          top: calc(50% + 2px);
          left: -2px;
          background-color: $red;
          pointer-events: none;
        }
      }
    }
  }
}