@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 400;
  src: url('@fonts/GolosText/GolosText-Regular-subset.woff2') format('woff2'),
       url('@fonts/GolosText/GolosText-Regular-subset.woff') format('woff'),
       url('@fonts/GolosText/GolosText-Regular-subset.ttf') format('truetype');
}
@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 500;
  src: url('@fonts/GolosText/GolosText-Medium-subset.woff2') format('woff2'),
       url('@fonts/GolosText/GolosText-Medium-subset.woff') format('woff'),
       url('@fonts/GolosText/GolosText-Medium-subset.ttf') format('truetype');
}
@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 600;
  src: url('@fonts/GolosText/GolosText-SemiBold-subset.woff2') format('woff2'),
       url('@fonts/GolosText/GolosText-SemiBold-subset.woff') format('woff'),
       url('@fonts/GolosText/GolosText-SemiBold-subset.ttf') format('truetype');
}
@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 700;
  src: url('@fonts/GolosText/GolosText-Bold-subset.woff2') format('woff2'),
       url('@fonts/GolosText/GolosText-Bold-subset.woff') format('woff'),
       url('@fonts/GolosText/GolosText-Bold-subset.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('@fonts/Merriweather/Merriweather-Regular-subset.woff2') format('woff2'),
       url('@fonts/Merriweather/Merriweather-Regular-subset.woff') format('woff'),
       url('@fonts/Merriweather/Merriweather-Regular-subset.ttf') format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('@fonts/Merriweather/Merriweather-Bold-subset.woff2') format('woff2'),
       url('@fonts/Merriweather/Merriweather-Bold-subset.woff') format('woff'),
       url('@fonts/Merriweather/Merriweather-Bold-subset.ttf') format('truetype');
}

* {
  font-family: 'Golos Text', sans-serif;
}